.accordion-item {
  border: 5px solid gray;
  padding: 10px;
  border-radius: 20px;
  max-width: 400px;
  margin: 5px;
}
.accordion-title {
  font-size: 25px;
  font-family: 'Segoe UI', sans-serif;
}
.accordion-item.active .accordion-title {
  color: #ff0000;
}